@charset "utf-8";
/* CSS Document */
html,body{ padding:0px; margin:0px; background:url(../Templates/body_back1.jpg) #fff top repeat-x;}

.header_menu{
	height:40px;
	width:100%;
	background:url(../Templates/menu_back.jpg) repeat-x;
	-moz-box-shadow:0px 0px 8px #000;
	-webkit-box-shadow:0px 0px 8px #000;
	-box-shadow:0px 0px 8px #000;
	border:1px medium #000;
}
.menu{
	width:920px;
	margin-left:auto;
	margin-right:auto;
}
.menu ul{
	padding:0px;
	margin:0px;
}
.menu ul li{
	position:relative;
	float:left;
	list-style:none;
	line-height:40px;
}
.menu ul li a{
	text-decoration:none;
	display:block;
	padding:10px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:900;
	text-shadow:1px 1px 5px #333;
	color:#FFF;
}
.menu ul li:hover{
	background:#333;
	color:#3F6;
	opacity:0.9;
}
.header_under{
	background:url(../Templates/headerunder.png) repeat-x;
	width:100%;
	height:32px;
}
.header_wrapper{
	width:100%;
	height:22px;
	padding:0px;
	margin:0px;
	background:#3C3C3C;
}
.login{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	padding-top:
	font-size:12px;
	width:920px;
	font-weight:900;
	margin-left:auto;
	margin-right:auto;
}
.login ul{
	float:right;
	padding:0px;
	margin:0px;
}
.login ul li{
	position:relative;
	list-style:none;
} 
.login ul li a{
	text-decoration:none;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:900;
	text-shadow:1px 1px 5px #333;
	color:#FFF;
}
.login ul li a:hover{
	text-decoration:underline;
}

/*
-----------------------------------
Container and Inner Container Style
-----------------------------------
*/
.container_wrapper{
	width:920px;
	height:700px;
	padding:0px;
	margin-top:16px;
	margin-left:auto;
	margin-right:auto;
	-moz-box-shadow:0px 0px 10px #B0B0B0;
	-webkit-box-shadow:0px 0px 10px #B0B0B0;
	border:1px medium #B0B0B0;
	background:#FFF;
}
.home_content{
	width:660px;
	height:500px;
	float:right;
	margin-right:8px;
	padding:0px;
	
}
.home_content .header{
	font-weight:bold;
	color:#333;
	border-bottom:2px solid #dadada;
	padding-bottom:3px;
	padding-left:3px;
}
.home_content .banner{
	height:210px;
	margin-top:0px;
	width:100%;
	-moz-box-shadow:0px 0px 10px #B0B0B0;
	-webkit-box-shadow:0px 0px 10px #B0B0B0;
	-khtml-box-shadow:0px 0px 10px #B0B0B0;
	border:1px medium #B0B0B0;
}
/*
-----------------------------------
Sidebar Menu/Menu Style
-----------------------------------
*/
.sidebar_menu{
	width:220px;
	height:500px;
	margin-left:9px;
	float:left;
}
.sidebar_menu .header{
	font-weight:bold;
	color:#06F;
	margin-bottom:1px;
	border-bottom:2px solid #dadada;
	padding:4px 0px 4px 20px;
}
.sidebar_menu ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
	margin-bottom:10px;
}
.sidebar_menu ul li{ padding-bottom:0px;}
.sidebar_menu ul li a{
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:90%;
	color:#09F;
	display:block;
	border-bottom:1px solid #dadada;
	padding-left:20px;
	text-decoration:none;
	padding-top:6px;
	padding-bottom:6px;
}
.sidebar_menu ul li a:hover{
	background:#EFEFEF;
}
/*
-----------------------------------
Form Style Style
-----------------------------------
*/
.form{
	width:640px;
	height:500px;
	padding:7px 7px;
	
}
label{
	width:105px;
	font:"Times New Roman", Times, serif;
	font-size:14px;
	font-weight:bold;
	color:#333;
	margin-top:5px;
	display:inline-block;
}
#button1{
	width:100px;
	font-weight:bold;
	border:1px solid #CCC;
	background:#EEE;
	margin-left:111px;
	color:#06F;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	cursor:pointer;
}
#button2{
	width:100px;
	font-weight:bold;
	border:1px solid #CCC;
	background:#EEE;
	color:#06F;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	cursor:pointer;
}
#button1:hover,#button2:hover{
	border:1px solid #09F;
}
textarea{
	display:inline-block;
	border:1px solid #D4D4D4;
	font:"MS Serif", "New York", serif;
	padding:5px 5px;
	font-size:12px;
	color:#333;
	max-width:300px;
	max-height:300px;
}
input,select{
	padding:5px 5px;
	border:1px solid #D4D4D4;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	display:inline-block;
}
.table{
	height:35px;
	background:#5B5B5B;
	color:#FFF; 
	border-bottom:5px solid #BAFD3E;
	border-top:1px dotted #CCC;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-left:0;
}
.tr_class{
	background:#5B5B5B;
	height:35px;
	border-bottom:5px solid #BAFD3E;
	border-top:1px dotted #CCC;
}
.td_class{
	padding:5px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:12px;
	color:#09F;
}
.td_data{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:12px;
	color:#09F;
	padding-left:6px;
}
.th_data{
	padding:10px;
	font-familt:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
}
/*
-----------------------------------
End Form Style
-----------------------------------

-----------------------------------
Error/Success Messages
-----------------------------------
*/
.errors{
	color:#F00;
	margin-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	display:inline-block;
}
.error{
	padding:5px;
	height:15px;
	margin-bottom:5px;
	border:solid 2px #FF9D9D;
	background:#FDE4E1;
	color:#CB4721;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.success{
	padding:5px;
	height:15px;
	margin-bottom:5px;
	border:solid 2px #C0F0B9;
	background:#D5FFC6;
	color:#48A41C; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	font-weight:bold;
	text-align:center;
}
.link{ 
	text-decoration:none;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:10px;
	font-weight:bold;
	color:#09F;
}
.link:hover{ color:#06F; text-decoration:underline;}

/*
-----------------------------------
End Error/Success Messages
-----------------------------------

-----------------------------------
Footer Style
-----------------------------------
*/
.footer_wrapper{width:100%; height:80px; margin-top:14px; background:#4A4A4A; border-top:5px solid #0080FF;}
.footer_menu{ width:920px; margin-left:auto; margin-right:auto;}
.footer_menu ul{ padding:0px; margin:0px; list-style:none; float:left; border-bottom:1px solid #666; width:100%; padding-bottom:8px; padding-top:6px;}
.footer_menu ul li{ line-height:20px; padding-top:10px; color:#999; font-weight:500px;}
.footer_menu ul li a{text-decoration:none;line-height:20px;font-family:Arial, Helvetica, sans-serif;font-size:12px;;text-shadow:1px 1px 5px #333;color:#FFF; font-weight:560}
.footer_menu ul li a:hover{ text-decoration:underline;)

